<br>
<div class="row">
    <div class="col-4" *ngFor="let persona of personas">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{persona.avatar}} alt={{persona.id}}>
            <div class="card-body">
                <h5 class="card-title">{{persona.first_name}} {{persona.last_name}}</h5>
                <p class="card-text">{{persona.email }}</p>
                <a href="#" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>
</div>

  


